[submodule "dependencies/protojson"]
	path = dependencies/protojson
	url = ../protojson.git
[submodule "dependencies/tisch"]
	path = dependencies/tisch
	url = ../tisch.git
[submodule "dependencies/massagepack"]
	path = dependencies/massagepack
	url = ../massagepack.git
